Triangles/*.iml
Triangles/.gradle
Triangles/local.properties
Triangles/.idea/workspace.xml
Triangles/.idea/libraries
Triangles/.DS_Store
Triangles/build
Triangles/captures
Triangles/.externalNativeBuild
Triangles/.idea
Triangles/gradle

Sprites/*.iml
Sprites/.gradle
Sprites/local.properties
Sprites/.idea/workspace.xml
Sprites/.idea/libraries
Sprites/.DS_Store
Sprites/build
Sprites/captures
Sprites/.externalNativeBuild
Sprites/.idea
Sprites/gradle

QuadTexture/*.iml
QuadTexture/.gradle
QuadTexture/.idea
QuadTexture/local.properties
QuadTexture/.idea/workspace.xml
QuadTexture/.idea/libraries
QuadTexture/.DS_Store
QuadTexture/build
QuadTexture/captures
QuadTexture/.externalNativeBuild
QuadTexture/gradle